<p class="titulo">COUNTRY</p>

<div class="container-fluid">
    <div>
        <h3></h3>
    </div>
    <div class="row">
        <div id="cardPaises" class="card" *ngFor="let pais of paises">
            <img src='{{ pais.flags.svg }}' class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ pais.name.common }}</h5>
                <div class="row">
                    <div class="col-5">
                        Oficcial:
                    </div>
                    <div class="col-7">
                        {{ pais.name.official }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        Capital:
                    </div>
                    <div class="col-7">
                        {{ pais.capital }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        Continents:
                    </div>
                    <div class="col-7">
                        {{ pais.continents}}
                    </div>
                </div>
                <hr>
                <a [routerLink]="['/paises/', pais.id]" class="btn btn-primary">More Information</a>
            </div>
        </div>
    </div>
</div>