<nav class="navbar navbar-expand-md navbar-light" style="background-color: 	#bbbebe; fixed-left" >
        <h1 class="navbar-brand" href>Travel Planner</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
            <li>
                <a [routerLink]="'/home'" class="nav-link">Home</a>
            </li>
            <li>
                <a [routerLink]="'/hotels'" class="nav-link">Hotels</a>
            </li>
            <li>
                <a [routerLink]="'/calendar'" class="nav-link">Calendar</a>
            </li>
            <li>
                <a [routerLink]="'/paises'" class="nav-link">Paises</a>
            </li>
        </ul>
    </div>
</nav>
  
  